/* plugin:cli */
 
.cli_output {
	color: darkgrey;
}

.cli_comment {
	color: brown;
}

.cli_prompt {
	color: green;
}

.cli_command {
	color: blue;
}

pre.cli {
	background-color: __background_alt__;
  font-family:"Lucida Console",Monospace,"DejaVu Sans Mono","Courier New",MiscFixed;
  font-size: 12px;
}

// nested CLI
pre.cli pre.cli {
	background-color: __background_neu__;
}

/* end plugin:cli */
